<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="stylesheets/register-style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
	<script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body {
			/*background: linear-gradient(to bottom ,rgb(8, 151, 242),white) no-repeat;*/
		 background:url("/images/timg(1).jpg") no-repeat;
		 background-size: cover;
		 background-clip:inherit;
		}
		.register{
			background:rgba(1, 2, 3, 0.7);
			box-shadow: 2px 2px 4px black,-2px -2px 4px black;
			border-radius: 5px;
		}
		h1,h2{
			color: white;
		}

		ul {
			list-style: none;
		}

		input {
		}
	</style>
</head>

<body>
	<div class="container">
		<br><br><br>
		<div class="register">

		<div   class="header">
			<h1 style="color:white;">注册个人信息</h1>
		</div>
		<form action="/register" method='post' class="form-group" >
			<ul class="">
				<hr />
				<div>
				<% if(jiance == 'no'){ %>
				<h1 style="margin-left:15px;color:red;">账号已存在</h1>
				<% } %>
				<div class="col-md-12">
					<h2>账户信息(必选):</h2>
					<li>
						<div style="padding:0px;" class="col-lg-11">
							<input type="text" style="background-color:rgba(0,0,0,0.3); color:white;" class="form-control account" name='account' placeholder="Username" required/>
						</div>
						<div class="col-log-2">
							<button style="margin:0px 0px 0px 6px;" type="button" class='col-log-3 btn btn-danger account_test' name="account_test">账号检测</button>
						</div>
					</li>
					<br><br>

					<script type="text/javascript">
						$('.account_test').click(function() {
							$.ajax({
								type:'GET',
								url:'/jiance',
								data:{name:'jiance',account:$('.account').val()},
								success:function(data,status){
									if(data == 'ok'){
										console.log(data);
										$('.account_test').text('可以使用')
										$('.submit').attr('disabled',false);
									}else{
										console.log(data);
										$('.account_test').text('已被注册')
										$('.submit').attr('disabled',true);
									}
								}
							})
						});
						$('.account_test').blur(function(){
							if($(this).text() == '已被注册'){
								$(this).text('账号检测');
							}
						})
					</script>
					<li>
						<input type="text" style="background-color:rgba(0,0,0,0.3); color:white;" class="form-control" name='tag' placeholder="标签:用分号隔开。例如：java;php" valuse='php;java'>
					</li>
					<br><br>
					<li>
						<input type="password" name='password' style="background-color:rgba(0,0,0,0.3); color:white;" id='passwd' class="form-control" placeholder="password" required/>
					</li>
					<br><br>
					<li>
						<input type="password" style="background-color:rgba(0,0,0,0.3); color:white;" id='passwd_1' class="form-control" placeholder="password" required/>
					</li>
				</div>
				<script type="text/javascript">
					$('#passwd_1').blur(function() {
						var passwd = $('#passwd').val();
						var passwd_1 = $('#passwd_1').val();
						console.log($(this).val());
						console.log($('#passwd').val());
						if (passwd != passwd_1) {
							console.log('heheh');
							var data = '<span style="color:red">密码不一致!</span>';
							if ($('#passwd+span').val() != null) {
								console.log($('#passwd+span').val());
							} else {
								$(data).insertAfter('#passwd');
							};
						} else {
							console.log('密码确认');
							$('#passwd+span').remove();
						}
					})
				</script>
			</div>

				<br>
				<br>
				<br>
				&nbsp;&nbsp;&nbsp;
				<br>
				&nbsp;&nbsp;&nbsp;<input type="submit" style="background-color:rgba(0,0,0,0.3);" class='btn btn-info submit' value="提交信息">
				&nbsp;	&nbsp;
				<a style="background-color:rgba(0,0,0,0.3);width:82px;" href='/login' class='btn btn-info' value="提交信息">登录</a>
				<div class="clear"> </div>
			</ul>
			<div class="clear"> </div>
		</div>
		</form>
	</div>

	<!-- <% include footer %> -->
</body>

</html>
